body {
    background-image: url('../images/background.jpg');
    color: white;
    font-family: 'Mulish', sans-serif;
    margin: 0px;
    outline: none;
}
.header {
    align-items: center;
    background-color: transparent;
    display: flex;
    height: 80px;
    width: 100%;
}
.header img {
    height: 60px;
    margin-left: 20px;
    width: 60px;
}
.button {
    background-color: rgba(255,255,255,0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}
.button a{
    color: white;
    text-decoration: none;
}
.input{
    background-color: transparent;
    border-left: 0px;
    border-top:0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    color:white;
    height: 50px;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    text-align: start;
}
.forgot_password {
    align-items: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
}
.forgot_password__container {
    background-color: rgba(0,0,0,0.3);
    border: 3px solid white;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 400px;
    min-width: 300px;
    padding: 30px 60px 10px;
}
.forgot_password__container h2 {
    display: flex;
    justify-content:center;
    font-size: 30px;
    font-weight:700;
}
.forgot_password__container > p {
    font-size: 16px;
    width: 340px;
}
.forgot_password__container--form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 150px;
}
.forgot_password__container--form button {
    border-radius: 20px;
    height: 45px;
}
.forgot_password__container--form > input {
    height: 40px;
    width: 300px;
}
.forgot_password__container--log_in {
    display: flex;
    font-size: 14px;
    justify-content: center;
}
.forgot_password__container--log_in a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
}
.fooder {
    align-items: center;
    background-color: transparent;
    color: white;
    display: flex;
    height: 80px;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
}
.fooder a {
    color: white;
    margin-left: 40px;
    text-decoration: none;
}
.input::placeholder {
    color:white;
}
.forgot_password__container--log_in a:hover {
    text-decoration: underline;
}
.fooder a:hover {
    text-decoration: underline;
}
@media only screen and (max-width: 500px){
    .forgot_password__container{
        background-color: rgba(0,0,0,0.3);
        border: 1px solid white;
        padding: 10%;
        width:90%;
        height: 80%;
    }
    .forgot_password__container--form > input {
        height: 40px;
        width: 80%;
    }
    .footer{
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
    }
}
